@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f5f7fb;
  color: #0f172a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f5f7fb;
}
